{% extends 'shared/layout.html' %}

{% block title %}
بازیابی رمز عبور
{% endblock %}

{% block content %}
<div class="container">
		<section id="form"><!--form-->
			<div class="row">
				<div class="col-sm-6 col-md-6 col-md-offset-3">
					<div class="signup-form"><!--sign up form-->
						<h2>بازیابی رمز عبور</h2>
						<form method="post" action="{% url 'forget_password_form' %}">
                            {% csrf_token %}

                                {{ forget_password_form.email.label_tag }}
                                {{ forget_password_form.email }}
                                {{ forget_password_form.email.errors }}

							<button type="submit" class="btn btn-default">بازیابی</button>
						</form>
					</div><!--/sign up form-->
				</div>
			</div>
		</section>
	</div>
{% endblock %}